<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>www.bootstrapmb.com - Filters VueJS</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="http://v.bootstrapmb.com/2020/10/lo0y08969/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container" id="app">

        <div class="accordion">

            <div v-for="(filter, index) in filters" class="accordion__content">
                <div class="accordion__title">
                    <h2>{{ filter.title }}</h2>
                </div>
                <ul class="accordion__items">

                    <li class="accordion__item" v-for="(item, index) in filter.content">

                        <input :id="item" type="checkbox" v-model="checkedItems" :value="item">
                        <label :for="item">
                            <p class="check"><span class="material-icons">done</span></p>
                            <p :key="index" v-if="!filter.color" class="item-name">{{ item }}</p>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="chip">
            <div class="chip__title">
                <h3>Your filters:</h3>
                <button class="chip__btn" @click="checkedItems = []">Clear All</button>
            </div>
            <li class="chip__item" v-for="(checked, index) in checkedItems" @click="deleteItem(index)">
                {{ checked }}
                <span class="material-icons">close</span>
            </li>
        </ul>
    </div>
    <!-- partial -->
    <script src='http://v.bootstrapmb.com/2020/10/lo0y08969/vue.js'></script>
    <script src="http://v.bootstrapmb.com/2020/10/lo0y08969/script.js"></script>

</body>

</html>